@import "tailwindcss";

:root {
  --background: #001135;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
.fade-in {
 animation: fadeIn 1s ease-in-out forwards;
}
.delay-100 {
animation-delay: 100ms;
}
 .delay-300 {
 animation-delay: 300ms;
 }
 .delay-500 {
 animation-delay: 500ms;
 }
 .delay-700 {
 animation-delay: 700ms;
 }
 .delay-900 {
 animation-delay: 900ms;
 }
}

@keyframes fadeIn {
 from {
opacity: 0;
transform: translateY(10px);
}
to {
 opacity: 1;
 transform: translateY(0);
 }
}